div.Under-shop-by-category{
    width: 78%;
    height: 264px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: khaki; */
    position: relative;
}
div.Under-shop-by-category>div{
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    border-radius: 16px;
}
div.Under-shop-by-category>div:first-of-type{
    width: 660px;
    height: inherit;
    background-color: brown;
}
div.Under-shop-by-category>div:last-of-type{
    width: 660px;
    height: 241.5px;
    background-color: navajowhite;
    position: absolute;
    left: 0;
}
div.Under-shop-by-category>div>img{
    object-fit: contain;
    border-radius: 16px;
}
div.Under-shop-by-category>div:first-of-type>img{
    width: 660px;
    height: inherit;
}
div.Under-shop-by-category>div:last-of-type>img{
    width: 660px;
    height: 241.5px;
}